<div>
    <ul class="horizontal-list right">
        <li>
            <a class="btn" [routerLink]="['/person/add/']">New</a>
        </li>
    </ul>
</div>

<div class="horizontal-scroll ">
    <table>
        <thead>
            <tr>
                <th style="width: 180px; ">#</th>
                <th>Name</th>
                <th style="width: 120px; "></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of persons ">
                <td>{{person.id}}</td>
                <td class="no-wrap ">{{person.name}}</td>
                <td>
                    <a class="btn-small btn-warning" href="person/add/{{person.id}}">Edit</a>
                    <button class="btn-small btn-danger" (click)="deletePerson(person)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>